$color-blue: #005BD5;
$color-white: #ffff;
$gradient: linear-gradient(180deg, #005BD5, #002E6B);

@mixin display-pattern{
    display: flex;
    justify-content: space-evenly;
}

@mixin dash-pattern{
    width: 3vw;
    height: 0.2vh;
    border-radius: 10px;
}

.main{
    .containerMajorPhoto{
        width: 100%;
        height: 85vh;
        position: relative;
        .majorPhoto{
            width: 100%;
            height: 85vh;
        }
    }

    .containerTitle{
        width: 32%;
        height: 40vh;
        position: absolute;
        z-index: 1;
        top: 31vh;
        left: 8vw;
        @include display-pattern();
        flex-direction: column;
        align-items: flex-start;
        h1{
            width: 90%;
            font-size: 2.5em;
            color: $color-blue;
        }
    }

    .containerPics{
        width: 100%;
        display: flex;
        .figureDiv{
            width: 50%;
            height: 60vh;
            .photos{
                width: 100%;
                height: 60vh;
            }
        }
        span{
            width: 50%;
            height: 60vh;
            color: $color-white;
            background-image: $gradient;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 8vh 1vw 8vh 6vw;
            div{
                width: 18vw;
                @include display-pattern();
                align-items: center;
                margin-bottom: -2vh;
                .dash{
                    @include dash-pattern();
                }
                h4{
                    font-weight: 400;
                    font-size: 0.9em;
                    letter-spacing: 2px;
                }
            }
            article{
                height: 40vh;
                width: 35vw;
                @include display-pattern();
                flex-direction: column;
                h2{
                    width: 25vw;
                    font-size: 2.5em;
                }
                h3{
                    width: 35vw;
                    font-size: 1.2em;
                    font-weight: 300;
                }
                .blueBtn{
                    background-color: #003A86;
                    border: solid 1px $color-white;
                    margin-top: 2vh;
                }
                .blueBtn:hover{
                    background-color: $color-white;
                    color: $color-blue;
                }
            }   
        }
        .containerText{
            background-image: linear-gradient(180deg, #ffff, #ffff) !important;
            .dashBlue{
                @include dash-pattern();
                border: solid 0.2px $color-blue;
            }
            .textViagens{
                color: $color-blue;
            }
            .titleBox{
                color: $color-blue;
            }
            .subtitleBox{
                color: #1B6DD9;
                font-weight: 400;
            }
            .whiteBtn{
                color: #1B6DD9;
                border: solid 1px #1B6DD9;
                background-color: $color-white;
            }
            .whiteBtn:hover{
                background-color: $color-blue;
                color: $color-white;
            }  
        }
    
        .thirdTitleMain{
            width: 35vw;
        }
       
    } 
}
    
input{
    border: solid red;
    width: 70%;
    height: 5vh;
    border: none;
    border-radius: 10px;
}
input::placeholder{
    padding-left: 1vw;
}

@media(max-width: 800px) and (min-width: 360px){
    .main{
        .containerMajorPhoto{
            height: 50vh;
            .majorPhoto{
                height: 50vh;
            }
        }
    
        .containerTitle{
            width: 98%;
            top: 10vh;
            left: 1vw;
            text-align: center;
            align-items: center;
            h1{
                font-size: 2.2em;
            }
        }
    
        .containerPics{
            width: 100%;
            flex-direction: column-reverse;
            margin-top: 1vh;
            .figureDiv{
                width: 100%;
                height: 55vh;
                .photos{
                    width: 100%;
                    height: 55vh;
                }
            }
            span{
                width: 100%;
                height: 55vh;
                div{
                    width: 60%;
                    @include display-pattern();
                    margin-bottom: -2vh;
                    h4{
                        font-size: 0.9em;
                    }
                }
                article{
                    height: 45vh;
                    width: 100%;
                    @include display-pattern();
                    align-items: center;
                    h2{
                        width: 100%;
                    }
                    h3{
                        width: 100%;
                        font-size: 1.4em;
                    }
                }  
            }
            .containerText{
                .whiteBtn{
                    margin-top: 1vh;   
                }  
            }
        
            .thirdTitleMain{
                margin-top: 2vh;
                width: 100%;
                text-align: center;
            }
           
        } 
    }
        
    input{
        height: 6vh;
    }
    input::placeholder{
        font-size: 1.4em;
    }
}