$color-blue: #005BD5;
$color-gray: #EEEEEE;
$color-white: #FFFFFF;

@mixin display-pattern{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin icons-pattern{
    @include display-pattern();
    flex-direction: column;
    width: 10vw;
    height: 22vh;
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
}

.containerRowIcons{
    @include display-pattern();
    width: 50vw;
    margin: auto;
    padding-top: 10vh;
    .boxIconsGray{
        background-color: $color-gray;
        color: $color-blue;
        @include icons-pattern();
        .subtitleIcon{
            width: 6vw;
        }
    }
    .boxIconsBlue{
        background-color: $color-blue;
        color: $color-white;
        @include icons-pattern();
    }
    
}