$color-gray: #8B8B8B;

@mixin display-pattern{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerPhotoWall{
    width: 100%;
    padding-top: 12vh;
    .firstContainerWall{
        @include display-pattern();
        flex-direction: column;
        color: $color-gray;
        .subtitleWall{
            font-size: 1em;
        }
        .titleWall{
            width: 20vw;
            text-align: center;
            font-size: 2.2em;
        }
    }
    .secondContainerWall{
        @include display-pattern();
        flex-direction: column;
        padding-top: 4vh;
        .row{
            @include display-pattern();
            width: 50vw;
            margin: auto;
            padding-top: 4vh;
        }
    }
}

@media(max-width: 800px) and (min-width: 360px){
    .containerPhotoWall{
        padding-top: 10vh;
        .firstContainerWall{
            .subtitleWall{
                font-size: 1.2em;
            }
            .titleWall{
                width: 100%;
                text-align: center;
                font-size: 2.5em;
            }
        }
        .secondContainerWall{
            @include display-pattern();
            flex-direction: column;
            padding-top: 2vh;
            .row{
                @include display-pattern();
                width: 100%;
                margin: auto;
                padding-top: 4vh;
                .photoWall{
                    width: 33%;
                }
            }
        }
    }
}