@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

$color-blue: #005BD5;
$color-white: #FFFFFF;

@mixin display-pattern{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@mixin placeholder-pattern{
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.containerForms{
    background-color: $color-blue;
    width: 100%;
    height: 60vh;
    margin-top: 12vh;
    .boxFormsAndTitle{
        @include display-pattern();
        width: 40%;
        height: 55vh;
        margin: auto;
        padding-top: 8vh;
        .formsTitle{
            font-size: 2.2em;
            color: $color-white;
        }
        .forms{
            @include display-pattern();
            width: 100%;
            height: 40vh;
            input::placeholder{
                @include placeholder-pattern();
            }
            textarea{
                border-radius: 10px;
            }
            textarea::placeholder{
                @include placeholder-pattern();
                padding-left: 0.7vw;
            }
            .btnForms{
                margin-top: 2vh;
                border: solid 1px $color-white;
            }
        }
    }
}