@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
.containerForms {
  background-color: #005BD5;
  width: 100%;
  height: 60vh;
  margin-top: 12vh;
}
.containerForms .boxFormsAndTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 55vh;
  margin: auto;
  padding-top: 8vh;
}
.containerForms .boxFormsAndTitle .formsTitle {
  font-size: 2.2em;
  color: #FFFFFF;
}
.containerForms .boxFormsAndTitle .forms {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40vh;
}
.containerForms .boxFormsAndTitle .forms input::-moz-placeholder {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  font-weight: 500;
}
.containerForms .boxFormsAndTitle .forms input:-ms-input-placeholder {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  font-weight: 500;
}
.containerForms .boxFormsAndTitle .forms input::placeholder {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  font-weight: 500;
}
.containerForms .boxFormsAndTitle .forms textarea {
  border-radius: 10px;
  width: 70%;
  height: 8vh;
}
.containerForms .boxFormsAndTitle .forms textarea::-moz-placeholder {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding-left: 0.7vw;
}
.containerForms .boxFormsAndTitle .forms textarea:-ms-input-placeholder {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding-left: 0.7vw;
}
.containerForms .boxFormsAndTitle .forms textarea::placeholder {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding-left: 0.7vw;
}
.containerForms .boxFormsAndTitle .forms .btnForms {
  margin-top: 2vh;
  border: solid 1px #FFFFFF;
}

@media (max-width: 800px) and (min-width: 360px) {
  .containerForms {
    margin-top: 12vh;
  }
  .containerForms .boxFormsAndTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .containerForms .boxFormsAndTitle .formsTitle {
    font-size: 2.4em;
  }
  .containerForms .boxFormsAndTitle .forms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40vh;
  }
  .containerForms .boxFormsAndTitle .forms input::-moz-placeholder {
    font-size: 1.2em;
  }
  .containerForms .boxFormsAndTitle .forms input:-ms-input-placeholder {
    font-size: 1.2em;
  }
  .containerForms .boxFormsAndTitle .forms input::placeholder {
    font-size: 1.2em;
  }
  .containerForms .boxFormsAndTitle .forms textarea::-moz-placeholder {
    font-size: 1.2em;
    padding-left: 0.9vw;
  }
  .containerForms .boxFormsAndTitle .forms textarea:-ms-input-placeholder {
    font-size: 1.2em;
    padding-left: 0.9vw;
  }
  .containerForms .boxFormsAndTitle .forms textarea::placeholder {
    font-size: 1.2em;
    padding-left: 0.9vw;
  }
}/*# sourceMappingURL=forms.css.map */